<%= form_for @school do |f| %>
  <h3>BASIC INFO</h3>
  Name: <%= f.text_field          :name %> <br />
  Website: <%= f.text_field       :website %> <br />
  City: <%= f.text_field          :city %> <br />
  Address: <%= f.text_field       :address %> <br />
  Email: <%= f.text_field         :email %> <br />
  Phone: <%= f.text_field         :phone %> <br />

  <h3>FULLER DESCRIPTIONS</h3>
  Summary: <%= f.text_area        :summary %> <br />

  <h3>TOP PHOTOS</h3>
  ImageURL: <%= f.text_field      :img3 %> <br />
  ImageURL: <%= f.text_field      :img4 %> <br />
  ImageURL: <%= f.text_field      :img5 %> <br />

  <h3>COURSE INFORMATION</h3>
  Administrative Fee: <%= f.text_field :admin_fee %><br />
  Price per Hour Private Lessons: <%= f.text_field :per_hr_private %><br />
  Price per Hour Group Lessons: <%= f.text_field :per_hr_group %><br />
  Maximum Students per Class: <%= f.text_field :max_students_per_class %><br />

  <h3>WHAT IS YOUR MOST POPULAR CLASS?</h3>
  <%= f.fields_for :course do |cf| %>
    Name of class: <%= cf.text_field :name %><br />
    Describe the class: <%= cf.text_area :description %><br />
    Hours per Week: <%= cf.text_field :hrs_per_wk %><br />
    Price per Week: <%= cf.text_field :price %><br />
    Homestay included: <%= cf.text_field :homestay_incl %><br />
    Price change over time: <%= cf.text_area :price_change %><br />
  <% end %>

  <h3>WHAT IS YOUR MOST POPULAR HOMESTAY OPTION?</h3>
  Describe: <%= f.text_field       :homestay %><br />
  Price/wk in USD: <%= f.text_field :homestay_price %><br />
  Check if Meals are included: <%= f.check_box :meals_incl %><br />
  If not, how much additional cost USD per meal: <%= f.text_field :meals_add_price %><br />

  <%= f.submit %>
<% end %>
