<%= form_for @school do |f| %>
  <h3>BASIC INFO</h3>
  Name: <%= f.text_field          :name %> <br />
  Website: <%= f.text_field       :website %> <br />
  City: <%= f.text_field          :city %> <br />
  Address: <%= f.text_field       :address %> <br />

  <h3>FULLER DESCRIPTIONS</h3>
  Summary: <%= f.text_area        :summary %> <br />

  <h3>TOP PHOTOS</h3>
  ImageURL: <%= f.text_field      :img3 %> <br />
  ImageURL: <%= f.text_field      :img4 %> <br />
  ImageURL: <%= f.text_field      :img5 %> <br />

  <h3>COURSE INFORMATION</h3>
  Administrative Fee: <%= f.text_field :admin_fee %>
  Price per Hour Private Lessons: <%= f.text_field :per_hr_private %>
  Price per Hour Group Lessons: <%= f.text_field :per_hr_group %>
  Maximum Students per Class: <%= f.text_field :max_students_per_class %>

  <%= f.fields_for :course do |cf| %>
    Name of class: <%= cf.text_field :name %>
    Describe the class: <%= cf.text_area :description %>
    Hours per Week: <%= cf.text_field :hrs_per_wk %>
    Price per Week: <%= cf.text_field :price %>
    Homestay included: <%= cf.text_field :homestay_incl %>
    Price change over time: <%= cf.text_area :price_change %>
  <% end %>

  <%= f.submit %>
<% end %>
