<div class="top"></div>
  <div class="head">
    <div class="header">
      <button class="nav" action="<%= schools_path %>">HOME</button>
      <a href="/faq"><button class="nav">FAQ</button></a>
      <a href="/links"><button class="nav" action="<%= schools_path %>">USEFUL LINKS</button></a>
      <a href="/contact"><button class="nav" action="<%= schools_path %>">CONTACT</button></a>
    </div>

    <div class="title">
      <h1>< Spanish Immersion ></h1>
    </div>

    <div class="subdiv">
      <h4 class="sub1"> . About </h4>
      <h4 class="sub2"> . . . Search </h4>
      <h4 class="sub3"> . . . . . Listing </h4>
    </div>

    <div class="header index">
      <div class="administrative button"><a href="/schools/new">Log <br>In</a>
      </div>
    </div>

    <!--   <div class="administrative button"><a href="/schools/new">
        New School</a></div> -->

    <div class="hover-div">
      <img class="wordle" src="https://mail.google.com/mail/u/0/?ui=2&ik=a406f72f4c&view=fimg&th=14622e05c2c12117&attid=0.1&disp=inline&realattid=f_hvhr35kf1&safe=1&attbid=ANGjdJ92ZP09u4q92yHp3N3CI6WZOJoVE5na5G_0J08WVAC5hiGuRvxRJB4k1b2qxADdEjhZHy4avvMnWp9UlKneTxO8oOh2VSZcbkwYV37CqfVl5l7NKCTVJpsEXEA&ats=1400744468409&rm=14622e05c2c12117&zw&sz=w539-h773" alt="">
    </div>

    <span class="wordle-element">Make your own word map! <a href="http://www.wordle.net">Use Wordle</a></span>

    <div class="about right">
      <p>We live in an increasingly bi-lingual society. Turn your next adventure in Mexico into a true learning experience. Learn through immersion. This site aims to make your choice easier, by helping you choose the right school for you. Check out the school pages, and search through the many options!
      </p>
    </div>
  </div>

  <div class="about header">

    </div>
  <div class= "find_it about">
    <div class="search">
      <h3>Search by Name</h3>
      <form action="/schools/search" method='get'>
        <input type="hidden" name='col' value='name'>
        <input type="text" name='search'>
        <input type="submit">
      </form>


    <h3>Search by City</h3>
    <form action="/schools/search" method='get'>
      <input type="hidden" name='col' value='city'>
      <input type="text" name='search'>
      <input type="submit">
    </form>
  </div>

  <div class="map "><img src="http://maps.googleapis.com/maps/api/staticmap?center=Mexico&zoom=5&size=750x550&&maptype=satellite&sensor=true_or_false" alt=""></div>
</div>

<div class="header about"></div>

<div class ="listing about">
<h2>< THE COURSES ></h2>
  <table>
      <tr>
        <th>School </td>
        <th> City </th>
        <th> Courses </td>
      </tr>
    <% @schools.each do |school| %>
      <tr>
        <td><a href= <%= school_path(school) %> ><em><%= school.name %></em></a> <br />
          <div class="rw-ui-container rw-urid-<%= @school_id %>"></div>
        </td>
        <td><%= school.city %></td>
        <td>
          <% school.courses.each do |course| %>
          <li> <%= course.name %> ( <%= course.hrs_per_wk %>hrs/wk => $<%= course.price %> )</li>
          <% end %>
        </td>
      </tr>
    <%end %>
  </table>
</div>
<br />

<div class="header about"><div class="administrative button"><a href="/schools/new">New School</a></div></div>

<div class="administrative list about">
  <% @schools.each do |school| %>
    <ul>
      <li>
        <a href="<%= school.website %>"><%= school.name %></a>

        <form action="/schools/<%= school.id %>" method="post">
          <%= token_tag %>
          <input type="hidden" name="_method" value="delete">
          <button type="submit">DELETE</button>
        </form>

        <a href="/schools/<%= school.id %>">SHOW</a>
        <a href="/schools/<%= school.id %>/edit">EDIT</a>
      </li><br>
    </ul>
  <% end %>
</div>





<div class="me">
  Please contact me at: <br />
  kristen.tonga@gmail.com <br />
  or visit me on: <br />
</div>


<div class="bottom"></div>

<!-- THESE ARE THE STAR RATING SYSTEMS -->
<%= render 'rating_widget' %>
