
  <div class="intro">
    <div class="top">
      <div class="margin">
        <button class="nav" action="<%= schools_path %>">HOME</button>
        <button class="nav" action="<%= schools_path %>">FAQ</button>
        <button class="nav" action="<%= schools_path %>">USEFUL LINKS</button>
        <button class="nav" action="<%= schools_path %>">CONTACT</button>
      </div>
<div class="rw-ui-container rw-urid-<%= @school_id %>"></div>
    </div>
    <div class="header">
    </div>

    <div class="wrapA">
      <% @photo_urls.each do |url| %>
      <img class="flickr_photo" src="<%= url %>" alt="">
      <% end %>
    </div>

    <div class="city" >
      <h1>< <%= @school.city %> ></h1><br />
      <p><em>/ <%= @school.name %> </em></p>
    </div>

    <div class="header">
      <a href="/schools"> HOME</a>
      <a href=<%= maestros_path %>> MAESTRO LOG-IN</a>
      <div class="administrative maestro button"><%= link_to "EDIT", edit_school_path %></div>
      <div class="administrative maestro button"><%= link_to "LOG-OUT", edit_school_path %></div>

    </div>

    <div class="photos">
      <div class="wrap" style="background-image:url(<%= @school.img3 %>)"></div>
      <div class="wrap two" style="background-image:url(<%= @school.img4 %>)"></div>
      <div class="wrap" style="background-image:url(<%= @school.img5 %>)"></div>
    </div>

    <div class="left">
      <h2>
        < <%= @school.name.upcase %>! >
      </h2>

      <%= @school.city %> <br />
       <em><%= @school.address %></em> <br />
    </div>

    <div class="right">
      <%= @school.summary %> <br />
      <div class="box"><b>LEARN MORE</b></div>  <br />
    </div>


<!-- THIS IS WHERE THE COURSE SECTION STARTS -->

    <div class="courses">
      <div class="header"></div>
    </div>
  </div>

  <div class="courses">
      <div class="left text_left">
        Administrative Fee: $<%= @school.admin_fee %> </br>
        Max Students / Class: <%= @school.max_students_per_class %>
        <h3><em>Specialized Courses:</em></h3>
        <ul>
          <li> CHILDREN </li>
          <li> PROFESSIONALS </li>
        </ul>
      </div>


       <h2>< THE COURSES ></h2>
      <table>
          <tr>
            <th># of Folks -</td>
            <th> Name -</th>
            <th> Hours/Week -</td>
            <th> Price USD -</td>
            <th> Homestay</td>
          </tr>
          <tr>
            <td><em>Private</em></td>
            <td>Lesson</td>
            <td>/hr</td>
            <td>$<%= @school.per_hr_private %></td>
            <td>none</td>
            <td class="no_border"> =>   variable/week </td>
          </tr>
              <% @school.courses.each do |course| %>
              <tr>
                <td><em>Group</em></td>
                <td><%= course.name %></td>
                <td><%= course.hrs_per_wk %></td>
                <td>$<%= course.price %></td><br>
              <td><%= @school.homestay_price%></td>
              <td class="no_border"> =>   <%= course.price + @school.homestay_price %></td>
              <td class="no_border">
            </tr>
          <% end %>
        </table>
       <div class="administrative maestro button"><%= link_to "New Course", edit_school_path %></div>
      </div>
      <br>
    <hr>




<!-- THIS IS THE WEBSITE IN PAGE VIEW -->

  <div class="website">

    <div class="mother_web">
      <object data=<%= @school.website %> width="55%" height="48%">
        <embed src=<%= @school.website %> width="55%" height="48%">
        </embed>
      Error: Embedded data could not be displayed.
      </object>
    </div>

    <img class="computer" src="https://mail.google.com/mail/u/0/?ui=2&ik=a406f72f4c&view=fimg&th=1460c77bdc5320db&attid=0.4&disp=inline&realattid=f_hvbj8v443&safe=1&attbid=ANGjdJ_flC1x_mxIzn7REH-z8PcIXiacgXhpMH3Mfw4lgDlRwxVKHtJILy6l3oI-zSmyPRxLLoeiA2Hx_K0LyOf79RZOebZalCZQhDtOOJ1xQOBvkqOh0hPO6G5wnFU&ats=1400369391936&rm=1460c77bdc5320db&zw&sz=w582-h422">
  </div>



<a href="/schools">HOME</a>


<!-- THIS IS THE COMMENT SECTION -->


  <div="new_comment">
    <div class="header">
    </div>

    <div class="wrapA">
      <img class="flickr_photo" src="<%= @photo_url2 %>" alt="">
    </div>

    <div class="city" >
      <h1>< COMMENTS for <%= @school.name %> ></h1><br />
      <p><em> /comment-count: <b> <%= @school.comments.count %></b></em></p>
    </div>

    <div class="header">
      <a href="/schools"> HOME</a>
    </div>


    <div>
      <h2>< NEW COMMENT ></h2>

      <%= form_for @comment, url: school_comments_path({school_id: @school.id}) do |cf| %>
          <%= cf.label :user_name%>
          <%= cf.text_field :user_name%>
          <%= cf.label :email%>
          <%= cf.text_field :email%>
          <%= cf.label :source%>
          <%= cf.text_field :source%><br /><br />
          <%= cf.label :message%>
          <%= cf.text_area :message%><br />
          <%= cf.label :rating_overall, :placeholder => "Rate" %>
          <%= cf.text_field  :rating_overall, :placeholder => "1(miserable) - 5(magnificent!!)" %><br />

          <%= cf.submit %>
      <% end %>
    </div>

    <hr>

    <div class="list">

      <% @school.comments.each do |comment| %>

          <div><i class="fa fa-child fa-3x"></i></div><br />
          <div class="rw-ui-container <%= comment.id %>"></div>
          <div class="a_comment">
            <em>Name: </em><%= comment.user_name %> ◉ <%= comment.created_at %><br />
            <em>Source: <a href="<%= comment.source %>"><%= comment .source %></a></em> <br />
            <%= comment.message %><br />
            <form action="/schools/<%= comment.school.id if comment.school %>/comments/<%= comment.id %>" method="post">
              <%= token_tag %>
              <input type="hidden" name="_method" value="delete">
              <button type="submit">DEL</button>
            </form>

        <br /><br />
        <hr>
      </div>
    <% end %>
  </div>



<div class="bottom"></div>

</div>
















<!-- THIS IS THE STARS -->
<%= render 'rating_widget' %>

<!-- THIS IS THE THUMBS FOR COMMENTS -->

<script type="text/javascript">(function(d, t, e, m){
    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){
        RW.init({
            huid: "173546",
            uid: "726ef8fd3e8ae6ef5e42470289677e07",
            source: "website",
            options: {
                "size": "medium",
                "type": "nero",
                "style": "thumbs"
            }
        });
        RW.render();
    };




    // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() +
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = (-1 < l.search.indexOf("DBG=") ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
}(document, new Date(), "script", "rating-widget.com/"));</script>
